# .NET Desktop
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net

trigger:
- main

pool:
  vmImage: 'windows-latest'

variables:
  solution: 'DurableTask.Netherite.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: CmdLine@2
  displayName: 'Start Azure Storage Emulator'
  inputs:
    script: |
      "%ProgramFiles(x86)%\Microsoft SDKs\Azure\Storage Emulator\AzureStorageEmulator.exe" init /server "(localdb)\MsSqlLocalDb"
      "%ProgramFiles(x86)%\Microsoft SDKs\Azure\Storage Emulator\AzureStorageEmulator.exe" start

- task: DotNetCoreCLI@2
  env:
    AzureWebJobsStorage: 'UseDevelopmentStorage=true;'
    EventHubsConnection: 'Memory'
  inputs:
    command: 'test' 
    projects: '**/DurableTask.Netherite*Tests.csproj'
    arguments: '--configuration $(buildConfiguration) --verbosity normal'
    testRunTitle: 'Running Netherite Unit Tests on DevStorage/Memory'

- task: DotNetCoreCLI@2
  env:
    AzureWebJobsStorage: $(StorageConnectionString)
    EventHubsConnection: $(TransportConnectionString)
  inputs:
    command: 'test' 
    projects: '**/DurableTask.Netherite*Tests.csproj'
    arguments: '--configuration $(buildConfiguration) --verbosity normal'
    testRunTitle: 'Running Netherite Unit Tests on storageAccount/EventHubs'

